<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{pages/layout/main_layout.html}">

<head>
    <title>WeeklyPRs View All Members</title>
</head>

<body>
    <div layout:fragment="right-floating-toolbar" class="btn-group">
            <select class="form-control datatable-input w-100px mr-2" id="year-select" name="year-select">
                <option value="">Year</option>
                <th:block th:each="year: ${model.years}">
                    <option th:value="${year}"
                        th:text="${year}"></option>
                </th:block>
            </select>
            <select class="form-control datatable-input w-120px " id="week-select" name="week-select">
                <!-- <option value="">Week</option> -->
            </select>
    </div>
    <div layout:fragment="content" class="container">
<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="row align-items-center">
                        <div class="col-lg-6  mb-lg-0 mb-6">
                            <label>Team</label>
                            
                            <select class="form-control datatable-input" 
                                    id="team-search" data-col-index="1" name="team-search">
                                <option value="">Choose..</option>
                            </select>

                        </div>
                        <div class="col-lg-6  mb-lg-0 mb-6">
                            <label>Members Name</label>
                            <input type="text" class="form-control datatable-input" placeholder="Search..."
										id="member-search" data-col-index="2" name="member-search"/>
                            <!-- <select class="form-control datatable-input" 
                                    id="member-search" data-col-index="2" name="member-search">
                                <option value="">Choose..</option>
                                <th:block th:each="name: ${model.memberNames}">
                                    <option th:value="${name}"
                                        th:text="${name}"></option>
                                </th:block>
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="card-toolbar col-xl-4 mt-5 pt-8 mt-lg-0 ">
                    <button class="btn btn-primary btn-primary--icon" id="kt_search">
                        <span>
                            <i class="la la-search"></i>
                            <span>Search</span>
                        </span>
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                        <span>
                            <i class="la la-close"></i>
                            <span>Reset</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!--end::Search Form-->
        <!--begin: Datatable-->
        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
        </div>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
    </div>
</body>

<th:block layout:fragment="script">
    <script th:src="@{/assets/js/pages/custom/weeklypr/test.js}"></script>
</th:block>

</html>