<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pages/layout/main_layout}">

<head>
	<title>Add Dictionary</title>
</head>

<body th:object="${dataModel}">

	<div layout:fragment="right-floating-toolbar" class="d-flex align-items-center flex-wrap">
		<!--begin::Button-->
		<a th:href="@{~/dictionary}"
			class="btn btn-primary button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2 w-120px justify-content-center">Back</a>

		<div class="btn-group ml-2 pl-0 py-4 w-120px">
			<button form="dictionary_form" type="submit" class="btn btn-primary font-weight-bold" name="action"
				value="submit">Submit</button>
			<button type="button" class="btn btn-primary font-weight-bold dropdown-toggle dropdown-toggle-split"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right">
				<ul class="navi py-5">
					<li class="navi-item">
						<button form="dictionary_form" type="submit" name="action" value="saveAndAddNew"
							th:field="*{action}" class="navi-button w-100">
							<span class="navi-icon">
								<i class="flaticon2-medical-records"></i>
							</span>
							<span class="navi-text">Save &amp; add new</span>
						</button>
					</li>
					<li class="navi-item">
						<button form="dictionary_form" type="submit" name="action" value="saveAndExit"
							th:field="*{action}" class="navi-button w-100">
							<span class="navi-icon">
								<i class="flaticon2-hourglass-1"></i>
							</span>
							<span class="navi-text">Save &amp; exit</span>
						</button>
					</li>
				</ul>
			</div>
		</div>

		<!--end::Button-->
	</div>
	<div layout:fragment="content" class="container">
		<div class="card card-custom">
			<div class="card-body p-0">
				<div class="w-50 pt-20 pl-20">
					<h3 class="text-primary">Dictionary Details</h3>
					<div class="w-200px h-4px bg-primary"></div>
				</div>
				<div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
					<div class="col-10">
						<form class="form fv-plugins-bootstrap fv-plugins-framework" id="dictionary_form"
							th:action="@{~/dictionary/add}" method="post">

							<!--begin::Row-->
							<div class="row">

								<div class="col-xl-12 my-8">

									<!--begin::Group-->
									<!--begin::Select-->
									<div class="form-group row">
										<label for="dictionaryType" class="col-xl-2 col-lg-2 col-form-label">사전 구분
											*</label>
										<div class="col-lg-4 col-xl-4">
											<!-- <select name="dictionaryType" class="form-control" id="dictionaryType"
												required th:field="*{dictionaryType}">
												<option value="">Choose...</option>
												<option value="KEY_RESULT">핵심 결과</option>
												<option value="COMPETENCE">역량</option>
											</select> -->
											<select name="dictionaryType" class="form-control" id="dictionaryType"
												required th:field="*{dictionaryType}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.dictionaryType}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
											</select>
										</div>
										<label for="jobType" class="col-xl-2 col-lg-2 col-form-label">직무 구분
											*</label>
										<div class="col-lg-4 col-xl-4">
											<select name="jobType" class="form-control" id="jobType" required
												th:field="*{jobType}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.jobType}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="GENERAL">일반</option> -->
											</select>
										</div>
									</div>
									<!--end::Select-->
									<!--end::Group-->

									<!--begin::Group form-->
									<div class="general form-group row" hidden>
										<label class="form1 col-2 col-form-label text-left">핵심
											결과 *</label>
										<label class="form2 col-2 col-form-label text-left">
											역량 *</label>
										<div class="col-10">
											<input name="sentence" id="sentence"
												class="form-control form-control-lg form-control-solid" type="text"
												value="" required th:field="*{sentence}">
										</div>
									</div>
									<!--end::Group-->

									<!--begin::Group form1-->
									<!--begin::Select-->
									<div class="form1 form-group row" hidden>
										<label for="taskType" class="col-xl-2 col-lg-2 col-form-label">과제 구분 *</label>
										<div class="col-lg-4 col-xl-4">
											<select name="taskType" class="form-control" id="taskType" required
												th:field="*{taskType}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.taskType}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="QUANTITATIVE">적량적</option>
												<option value="QUALITATIVE">정성적</option> -->
											</select>
										</div>
										<label for="taskMetric" class="col-xl-2 col-lg-2 col-form-label">측정 기준
											*</label>
										<div class="col-lg-4 col-xl-4">
											<select name="taskMetric" class="form-control" id="taskMetric" required
												th:field="*{taskMetric}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.taskMetric}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="UPWARD">상향</option>
												<option value="DOWNWARD">하향</option> -->
											</select>
										</div>
									</div>
									<!--end::Select-->
									<!--end::Group-->

									<!--begin::Group form2-->
									<!--begin::Select-->
									<div class="form2 form-group row" hidden>
										<label for="categoryGroup" class="col-xl-2 col-lg-2 col-form-label">역량 구분
											*</label>
										<div class="col-lg-4 col-xl-4">
											<select name="categoryGroup" class="form-control" id="categoryGroup"
												required th:field="*{categoryGroup}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.categoryGroup}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="QUANTITATIVE">적량적</option>
                                                <option value="QUALITATIVE">정성적</option> -->
											</select>
										</div>
										<label for="category" class="col-xl-2 col-lg-2 col-form-label">역량 항목 *</label>
										<div class="col-lg-4 col-xl-4">
											<select name="category" class="form-control" id="category" required
												th:field="*{category}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.category}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="UPWARD">상향</option>
                                                <option value="DOWNWARD">하향</option> -->
											</select>
										</div>
									</div>
									<!--end::Select-->
									<!--end::Group-->

									<!--begin::Group form1-->
									<!--begin::Select-->
									<div class="form1 form-group row" hidden>
										<label for="taskIndicator" class="col-xl-2 col-lg-2 col-form-label">측정 지표
											*</label>
										<div class="col-lg-4 col-xl-4">
											<select name="taskIndicator" class="form-control" id="taskIndicator"
												required th:field="*{taskIndicator}">
												<option value="">Choose...</option>
												<th:block th:each="codeList: ${TypeModel.taskIndicator}">
													<option th:value="${codeList.codeListId.code}"
														th:text="${codeList.codeName}"></option>
												</th:block>
												<!-- <option value="PERCENTAGE">%</option>
												<option value="AMOUNT">원</option>
												<option value="COUNT">건,회</option> -->
											</select>
										</div>

									</div>
									<!--end::Select-->
									<!--end::Group-->

									<!--begin::Group-->
									<div class="general form-group row" hidden>
										<label class="col-form-label col-2 text-left">설명</label>
										<div class="col-10">
											<textarea class="form-control form-control-lg form-control-solid"
												id="introduction" rows="10" placeholder="description"
												th:field="*{description}"></textarea>
										</div>
									</div>
									<!--end::Group-->

									<!--begin::Group-->
									<div class="general form-group row" hidden>
										<label class="col-2 col-form-label text-left">Active</label>
										<div class="col-8">
											<span class="switch switch-icon"> <label> <input type="checkbox"
														checked="checked" name="select" th:field="*{useFlag}">
													<span></span>
												</label>
											</span>
										</div>
									</div>
									<!--end::Group-->
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<th:block layout:fragment="script">
		<script src="/assets/js/jquery.validate.js"></script>
		<script type="text/javascript">
			$().ready(function () {
				$("#dictionary_form").validate();
				// $(".general").hide();
				// $(".form1").hide();
				// $(".form2").hide();
				$('#dictionaryType, #jobType, #taskType, #categoryGroup, #category, #taskIndicator, #taskMetric').selectpicker();
				$("#dictionaryType").change(function () {

					var type = $("#dictionaryType option:selected").val();
					if (type == "KEY_RESULT") {
						$(".form2").attr("hidden", true);
						$(".general,.form1").attr("hidden", false);
						// $(".form2").hide();
						// $(".general").show();
						// $(".form1").show();
					} else if (type == "COMPETENCE") {
						$(".form1").attr("hidden", true);
						$(".general,.form2").attr("hidden", false);

						// $(".form1").hide();
						// $(".general").show();
						// $(".form2").show();
					} else {
						$(".form1,.general,.form2").attr("hidden", true);
						// $(".general").hide();
						// $(".form1").hide();
						// $(".form2").hide();
					}

				});
			});

		</script>
	</th:block>
</body>

</html>