<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{pages/layout/main_layout.html}">

<head>
    <title>Dictionary Key Result</title>
</head>


<body>

    <div layout:fragment="content" class="container">
        <h3>Test adding to key result</h3>
        <hr/>
         <!--begin::Card-->
         <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label" style="font-size: larger">Key Results</small></h3>
                </div>
            </div>
            <div class="card-body container-fluid">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="text-align:center" >Key Result</th>
                            <th  style="text-align:center" colspan="3">Properties</th>
                            <th  style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
        
                                <input class="key-result form-control" type="text" />
                            </td>
                            <td> <select class="custom-select col mr-2 task-type">
                                    <option selected="selected" value="">Task Type</option>
                                    <th:block th:each="codeList: ${TypeModel.taskType}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <select class="custom-select col mr-2 task-metric">
                                    <option selected="selected" value="">Task Metric</option>
                                    <th:block th:each="codeList: ${TypeModel.taskMetric}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td><select class="custom-select col mr-2 task-indicator">
                                    <option selected="selected" value="">Task Indicator</option>
                                    <th:block th:each="codeList: ${TypeModel.taskIndicator}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td > <button class="modal-button btn btn-sm btn-clean" title="View records" data-toggle="modal"
                                    data-target="#kt_datatable_modal_keyresult">
                                    <i class="flaticon2-document"></i> Details
                                </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <input class="key-result form-control" type="text" />
                            </td>
                            <td> <select class="custom-select col mr-2 task-type">
                                    <option selected="selected" value="">Task Type</option>
                                    <th:block th:each="codeList: ${TypeModel.taskType}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <select class="custom-select col mr-2 task-metric">
                                    <option selected="selected" value="">Task Metric</option>
                                    <th:block th:each="codeList: ${TypeModel.taskMetric}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <select class="custom-select col mr-2 task-indicator">
                                    <option selected="selected" value="">Task Indicator</option>
                                    <th:block th:each="codeList: ${TypeModel.taskIndicator}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <button class="modal-button btn btn-sm btn-clean" title="View records" data-toggle="modal"
                                    data-target="#kt_datatable_modal_keyresult">
                                    <i class="flaticon2-document"></i> Details
                                </button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
        
                                <input class="key-result form-control" type="text" />
                            </td>
                            <td> <select class="custom-select col mr-2 task-type">
                                    <option selected="selected" value="">Task Type</option>
                                    <th:block th:each="codeList: ${TypeModel.taskType}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <select class="custom-select col mr-2 task-metric">
                                    <option selected="selected" value="">Task Metric</option>
                                    <th:block th:each="codeList: ${TypeModel.taskMetric}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td><select class="custom-select col mr-2 task-indicator">
                                    <option selected="selected" value="">Task Indicator</option>
                                    <th:block th:each="codeList: ${TypeModel.taskIndicator}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <button class="modal-button btn btn-sm btn-clean" title="View records" data-toggle="modal"
                                    data-target="#kt_datatable_modal_keyresult">
                                    <i class="flaticon2-document"></i> Details
                                </button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
        
                                <input class="key-result form-control" type="text" />
                            </td>
                            <td> <select class="custom-select col mr-2 task-type">
                                    <option selected="selected" value="">Task Type</option>
                                    <th:block th:each="codeList: ${TypeModel.taskType}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <select class="custom-select col mr-2 task-metric">
                                    <option selected="selected" value="">Task Metric</option>
                                    <th:block th:each="codeList: ${TypeModel.taskMetric}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td><select class="custom-select col mr-2 task-indicator">
                                    <option selected="selected" value="">Task Indicator</option>
                                    <th:block th:each="codeList: ${TypeModel.taskIndicator}">
                                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                                    </th:block>
                                </select></td>
                            <td> <button class="modal-button btn btn-sm btn-clean" title="View records" data-toggle="modal"
                                    data-target="#kt_datatable_modal_keyresult">
                                    <i class="flaticon2-document"></i> Details
                                </button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!--end::Card-->

        <!--begin::Modal-->
        <div th:replace="pages/common/modal::dictionary-keyresult">
        </div>
        <!--end::Modal-->

    </div>
</body>
<th:block layout:fragment="script">
    <script src="/assets/js/pages/custom/common/modal.js"></script>
    <script th:src="@{/assets/js/pages/custom/dictionary/keyresult.js?v=7.0.6}"></script>
</th:block>

</html>