<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/layout/main_layout}">
<head>
    <title>Weekly Plan & Review</title>
</head>

<div layout:fragment="right-floating-toolbar">
    <button class="btn btn-primary w-100px">List</button>
    <button class="btn btn-primary w-100px">Add</button>
    <button class="btn btn-primary w-100px">Edit</button>
</div>
<div layout:fragment="content" class="container">
    <!--begin::Card-->
    <div class="card card-custom card-stretch card-stretch-fourth gutter-b">
        <div class="card-body container">
            <div class="w-50 pl-2 pb-10">
<!--                <h3 class="text-primary"></h3>-->
<!--                <div class="w-200px h-4px bg-primary"></div>-->
                <span class="card-highlight-header">Weekly Action Plan & Review Details</span>
            </div>
            <div class="row no-gutters align-items-center mb-5">

            </div>

        </div>
    </div>
    <!--end::Card-->

    <!--begin::Card-->
    <div class="card card-custom card-stretch card-stretch-fourth gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label" style="font-size: larger">Objective & Key Result</small></h3>
            </div>
        </div>
        <div class="card-body container-fluid">
            <div class="row ml-10">

            </div>
        </div>
    </div>
    <!--end::Card-->

    <!--begin::Card-->
    <div class="card card-custom card-stretch card-stretch-fourth gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label" style="font-size: larger">Action Plan & Review</small></h3>
            </div>
        </div>
        <div class="card-body container-fluid">
            <div class="row ml-10">

            </div>
        </div>
    </div>
    <!--end::Card-->

    <!--begin::Card-->
    <div class="card card-custom card-stretch card-stretch-fourth gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label" style="font-size: larger">Challenge or Problem</small></h3>
            </div>
        </div>
        <div class="card-body container-fluid">
            <div class="row ml-10">

            </div>
        </div>
    </div>
    <!--end::Card-->

    <!--begin::Card-->
    <div class="card card-custom card-stretch card-stretch-fourth gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label" style="font-size: larger">Likes & Feedbacks</small></h3>
            </div>
        </div>
        <div class="card-body container-fluid">
            <div class="row ml-10">

            </div>
        </div>
    </div>
    <!--end::Card-->

</div>
</html>